
<div class="navigation">
<%= image_tag("logo.jpg", :alt => "SLLA Logo", :class => "logo") %>
<div class="links">
	<ul>
    <%= link_to('Calendar', root_path) %>
    <%= link_to('Submit', root_path) %>
    <%= link_to('Join', 'https://www.facebook.com/groups/1203067669814957/?ref=br_tf&qsefr=1', target: '_blank') %>
	</ul>
</div>
<div class="social">
	<ul>
		<li><%= link_to image_tag('github.png'), 'https://github.com/seport/SLLA', target: '_blank', :style => "height:50px;width:50px;filter: invert(100%);" %></li>
		<li><%= link_to image_tag('twitter.png'),'https://twitter.com/StayLoudLA', target: '_blank', :style => "height:50px;width:50px;filter: invert(100%);" %></li>
</div>
</div>
<div style="background:black; margin:0;padding-top:10%;padding-bottom:10%">
  <div class="stats" style="margin-top:0;margin-bottom:0">
    <%= link_to('Calendar of Protests', root_path, :class => "button") %>
    <%= link_to('Submit a Protest', root_path, :class => "button") %>
    <%= link_to('Check out the Facebook Group', 'https://www.facebook.com/groups/1203067669814957/?ref=br_tf&qsefr=1', target: '_blank', :class => "button") %>
  </div>
</div>
<h1>Welcome to Stayloud LA!</h1>
