<div class="navigation">
<%= image_tag("logo.jpg", :alt => "SLLA Logo", :class => "logo") %>
<div class="links">
  <ul style="font-family: 'Oswald', sans-serif;">
    <%= link_to('Calendar', root_path) %>
    <%= link_to('Submit', root_path) %>
    <%= link_to('Join', 'https://www.facebook.com/groups/1203067669814957/?ref=br_tf&qsefr=1', target: '_blank') %>
  </ul>
</div>
<div class="social">
  <ul>
		<%= link_to image_tag('github.png'), 'https://github.com/seport/SLLA', target: '_blank' %>
		<%= link_to image_tag('twitter.png'),'https://twitter.com/StayLoudLA', target: '_blank' %>
		<%= link_to image_tag('facebook.png'), 'https://www.facebook.com/groups/1203067669814957/?ref=br_tf&qsefr=1', target: '_blank' %>
  </ul>
</div>
</div>
